mixin footer()
  .footer
    .footer__top
      .container
        .row
          .col-md-3
            .footer__item
              h3.footer__item-title Trụ sở chính
              p.footer__item-info
                | Công Ty Cổ Phần Công Nghệ & Đào Tạo HAMIA
              .footer__item-phone
                span
                span 19002215 - (024) 665 08862
          .col-md-3
            .footer__item
              h3.footer__item-title VP HÀ NỘI
              p.footer__item-info
                | P2.02 Tầng 2 Toà Nhà 348 Đường Bưởi, Vĩnh Phúc, Ba Đình, Hà Nội
              .footer__item-phone
                span
                span info@iSpeak.vn
          .col-md-3
            .footer__item
              h3.footer__item-title VP HỒ CHÍ MINH
              p.footer__item-info
                | 32 Trần Thánh Tông, F15, Q.Tân Bình, Tp.Hồ Chí Minh.
              .footer__item-phone
                span
                span info@iSpeak.vn
          .col-md-3
            .footer__item
              iframe(
                src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fispeakvietnam%2F&tabs&width=274&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=941040379264170'
                width='100%'
                height='200'
                style='border:none; overflow:hidden'
                scrolling='no'
                frameborder='0'
                allowtransparency='true'
              )
    .footer__social
      .container
        .row
          .col-md-12
            span.footer__social-tw
              img(src='images/ic-twitter.svg' alt='icon-social')
            span.footer__social-gg
              img(src='images/ic-google.svg' alt='icon-social')
            span.footer__social-fb
              img(src='images/ic-facebook.svg' alt='icon-social')
    .footer__middle
      .container
        .footer__middle-content
          .row.align-items-center
            .col-md-6
              .footer__logo
                a(href='#')
                  img(src='images/logo.png' alt='Logo Ispeak')
            .col-md-6
              .footer__register
                h3.footer__register-title Đăng ký nhận bản tin Ispeak
                .footer__register-form
                  +input-field({
                    type: 'text',
                    placeholder: 'Nhập vào email cuả bạn'
                  })(class='form-control--gray')
                  +buttons({
                    text: 'Gửi đi',
                    type: 'primary',
                    size: 'small'
                  })
    .footer__coppyright
      p © 2018 - Bản quyền của Công Ty Cổ Phần Công Nghệ & Đào Tạo Trực Tuyến HAMIA - ispeak.vn
      p Giấy chứng nhận Đăng ký Kinh doanh số 0107640147 do Sở Kế hoạch và Đầu tư Hà Nội cấp
